@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-background text-text-main dark:bg-dark-background dark:text-dark-text-main;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111a22;
}

::-webkit-scrollbar-thumb {
  background: #233648;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #344d66;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}